!.gitignore
src/node_modules/
src/tools/.metadata/
src/tools/Suggestions/.settings/
src/tools/Suggestions/bin/
src/tools/Suggestions/.classpath
src/tools/Suggestions/.project
src/tools/Suggestions/*.jar
