script
	var socket = io.connectWithSession();
	$(document).ready(function() {
		var app = new App(!{groups});			
		socket.on('bookmark', function (data) {
			app.bookmarkAdded(data.group, new Bookmark(data.bookmark));
		});
	});

#container
	#header
		img#header-logo(src='../images/Logo_big.png')
	#page
		#top
			#search-div
				input#search-terms(type='text', placeholder='Search...')
				span#clear-search x

			ul#groups
				-if(everyauth.user && everyauth.user.username === name)
					li#create-group
						a#add-group-button +
			.clear
		.clear

		#main
			#tags
				.semi-important Selection tags
				.not-important tag | amount
				ul#selection-tags
				.clear
				.semi-important All tags
				.not-important tag | amount
				ul#all-tags
				.clear

			ul#bookmarks
				-if(everyauth.user && everyauth.user.username === name)
					li#create-bookmark.dial
						img(src='../images/add_bookmark.png')
			.clear
		.clear
		
		//Group creation popup
		-if(everyauth.user && everyauth.user.username === name)
			div#popupContact  
				a#popupContactClose x
				#popup-content
			div#backgroundPopup

			#add-group-content.hidden
				h1 Add Group
				div Group name
					input#group-name(type='text')
				div Private
					input#private-group(type='checkbox')
				#add-group.button Save

			#add-bookmark-content.hidden
				h1 Add Bookmark
				div Bookmark URL
					input#bookmark-address(type='text')
				#open-savescreen.button Save
	#footer
		a(href='/logout') Logout