script
	$(document).ready(function() {
		var app = new App(!{groups});
	});

#container
	h2 Welcome #{name}
	#page
		button#add-group Create new group
		div Group name:
			input#group-name(type='text')
		button#search Submit
		div Search:
			input#search-terms(type='text')
		#groups
		#bookmarks