script
	var socket = io.connectWithSession();
	$(document).ready(function() {
		var app = new App(!{groups});			
		socket.on('bookmark', function (data) {
			app.bookmarkAdded(data.group, new Bookmark(data.bookmark));
		});
	});

#container
	h2 Welcome #{name}
	#page
		button#add-group Create new group
		div Group name:
			input#group-name(type='text')
		button#search Submit
		div Search:
			input#search-terms(type='text')
		#tags
		#groups
		#bookmarks