h1=title
#page
	button#add-bookmark Create new bookmark
	| Url:
	input#bookmark-url(type='text', value=address)
	| Image Url:
	input#bookmark-image-url(type='text')
	| Private:
	input#private-bookmark(type='checkbox')